{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Booktags - Edit Book{% endblock %}

{% block page_content %}
<div class="page-header">

<!--    {% from "_formhelpers.html" import render_field %}-->


<!--    <form action="" class="form form-horizontal" method="post" role="form">-->

<!--&lt;!&ndash;          <legend>Book Edit </legend>&ndash;&gt;-->
<!--                    <div class="input-group input-group-lg" style="float: right">-->
<!--                    <button type="reset" class="btn btn-default">Cancel</button>-->
<!--                    <button type="submit" class="btn btn-primary">Submit</button>-->

<!--                  </div>-->
<!--            {% for field in form %}-->

<!--                {% if field.name=="csrf_token" %}-->
<!--                        {{form.hidden_tag()}}-->
<!--                {% elif field.name=='id' %}-->

<!--                    <div class="input-group input-group-lg">-->
<!--                        <span class="input-group-addon" id="basic-addon1">{{ field.name }}</span>-->
<!--                        <input type="text" class="form-control" placeholder="{{ field.data }}" aria-describedby="basic-addon1" readonly>-->
<!--                    </div>-->

<!--                {% elif field.name=='submit' %}-->
<!--                {{ field() }}-->

<!--                {% else %}-->
<!--                    <div class="input-group input-group-lg form-control-label" for="{{ field.name }}">-->
<!--                        <span class="input-group-addon" id="basic-addon1">{{ field.name }}</span>-->
<!--                        <input id="{{ field.name }}" name="{{ field.name }}" value="{{ field.data }}" type="text" class="form-control" aria-describedby="basic-addon1">-->

<!--                    </div>-->
<!--                {% endif%}-->

<!--            {% endfor %}-->


<!--    </form>-->

<!--       {{ wtf.quick_form(form,form_type="horizontal ",extra_classes="form-horizontal",role="form") }}   -->


<table class="table table-striped table-hover table-responsive">
	<thead>
	</thead>
<tbody>


<form class="form form-horizontal" method="post" role="form">
  {{ form.hidden_tag() }}
  {{ wtf.form_errors(form, hiddens="only") }}

  {{ wtf.form_field(form.id) }}
  {{ wtf.form_field(form.isbn) }}
  {{ wtf.form_field(form.title_short) }}
  {{ wtf.form_field(form.title) }}
  {{ wtf.form_field(form.catalogue) }}
  {{ wtf.form_field(form.cutter) }}
  {{ wtf.form_field(form.pub_year) }}
  {{ wtf.form_field(form.copy_info) }}
  {{ wtf.form_field(form.get_link) }}
  {{ wtf.form_field(form.note) }}
  {{ wtf.form_field(form.reprint) }}
  {{ wtf.form_field(form.removed) }}
  {{ wtf.form_field(form.keepsite) }}
  {{ wtf.form_field(form.eisbn) }}

  <div class="form-actions">
     <button name="action_save" type="submit" class="btn btn-primary">Save Changes</button>
  </div>

</form>

</tbody>
</table>


</div>
{% endblock %}