{% extends "bootstrap/base.html" %}

{% block title %}Booktags{% endblock %}

{% block head %}

<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">


{%- block styles %}
<!-- Bootstrap -->
<!--<link href="{{bootstrap_find_resource('css/bootstrap.css', cdn='bootstrap')}}" rel="stylesheet">-->
<link href="{{ url_for('static',filename='css/bootstrap.min.css')}}" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous"></link>
<!--https://use.fontawesome.com/releases/v5.12.0/css/all.css-->
<link href="{{ url_for('static',filename='css/base.css')}}" rel="stylesheet">
{%- endblock styles %}
{% endblock %}


{% block navbar %}

<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('main.index') }}"><i class="fas fa-home"></i> Booktags</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('main.index') }}"><i class="far fa-comment"></i> MicroBlog</a></li>
                <li><a href="{{ url_for('main.index') }}"><i class="fas fa-book"></i> Books</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('main.user', username=current_user.username) }}"><i class="far fa-user"></i> Profile</a></li>
                {% endif %}
                {% if current_user.can(Permission.MODERATE) %}
                <li><a href="{{ url_for('main.moderate') }}"> Moderate Comments</a></li>
                {% endif %}
                {% if current_user.is_authenticated %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="far fa-list-alt"></i> Account <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('auth.change_password') }}"><i class="fas fa-key"></i> Change Password</a></li>
                        <li><a href="{{ url_for('auth.change_email_request') }}"><i class="far fa-envelope"></i> Change Email</a></li>
                        <li><a href="{{ url_for('auth.logout') }}"><i class="fas fa-sign-out-alt"></i> Log Out </a></li>
                    </ul>
                </li>
                {% else %}
                <li><a href="{{ url_for('auth.login') }}"><span class="glyphicon glyphicon-log-in"></span> Log In </a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{%- endblock navbar %}

{% block content -%}
{{ super() }}
<div class="container" id="flash-msg">

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade in textCenter" role="alert">
            <button type="button" class="close" data-dismiss="alert" onclick=delete_flash(this)>
                <span class="glyphicon glyphicon-remove-circle"></span>
            </button>
            {{message}}
        </div>
        {% endfor %}
    {% endwith %}
    <!-- TODO: 把整個 container 設成 click dismiss
    https://stackoverflow.com/questions/43626506/how-to-make-a-closing-alert-in-bootstrap
    https://www.w3schools.com/bootstrap/bootstrap_ref_js_alert.asp
    -->


    <script type="text/javascript">
    $(document).ready(function() {
        $("#flash-msg").click(function() {
            $(".alert").alert("close");
        });
    });
    </script>

    {% block page_content %}
    {% endblock page_content %}
</div>
{%- endblock content %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
{% endblock scripts %}