{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Booktags{% endblock %}


{% block content %}

{{ super() }}
<div class="container">
    <div class="page-header">
            <h1>Current User:
                {% if current_user.is_authenticated %}
                    {{ current_user.username }}
                {% else %}
                    Stranger
                {% endif %}!
            </h1>

            {% if not known %}
            <p>Pleased to meet you!</p>
            {% else %}
            <p>Happy to see you again!</p>
            {% endif %}

        {{ wtf.quick_form(form) }}
       <!-- Fill content -->
        <hr>

        Hello! {{ name}}

        <hr>
        <p>Message here: {{ message }}</p>
        <p>The local datatime :  <b> {{ moment(current_time).format('YYYY-M-D h:m A') }} </b></p>
        <p>That was : {{ moment(current_time).fromNow(refresh=True) }}</p>
       <!-- end . Fill content-->
    </div>
</div>
{% endblock %}